<header class="w-full bg-[#F5F7FA] flex p-4">
    <div class="flex flex-row justify-between items-center mr-12 mb-4">
        <div class="w-9xl container justify-around block ml-4">
            <h1 class="text-[#2C3E50] text-4xl font-bold">DevProgress - Creación de Roadmaps</h1><!-- Título de presentación -->
            <p class="text-[#34495E] text-lg mt-2 font-normal">Genera roadmaps de aprenddizaje de programación</p><!-- Descripción de la página -->
        </div>
    </div>
    <div class="mt-2 flex flex-column p-4 right-0 ml-65 mx-auto mb-4">
        <div class="container flex flex-row justify-end mr-5 p-1">
            <div class="flex mr-4 ml-4"><!--Botón de redirección a Iniciar sessión -->
                <a href="../pages/Authentication/sinin.astro" class="nl-2 mr-1">
                    <button class="bg-[#2980B9] text-white font-bold px-3 py-2 rounded-lg hover:bg-[#2929b9] transition duration-300 ease-in-out">
                        Iniciar sesión
                    </button>
                </a>
            </div>
            <div class="flex mr-4 ml-4"><!--Botón de redirección a Registrarse -->
                <a href="../pages/Authentication/signup.astro" class="ml-1 mr-2">
                    <button class="bg-[#2980B9] text-white font-bold px-3 py-2 rounded-lg hover:bg-[#2929b9] transition duration-300 ease-in-out">
                        Registrarse
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>